#close-button{
    margin-left: 90%;
    cursor: pointer;
 }
 
 .content-span{
    margin-left: 20px;
    margin-bottom: 20px;
 }
 
 #no-button{
    width: 30%;
    margin-left: 7%;
    margin-right: 25%;
    background-color: yellow;
 }
 
 #yes-button{
    width: 30%;
 }
 