<mat-card class="customStyle">
    <div class="title-style">
        <mat-card-title>Product Add Form</mat-card-title>
    </div>
    <mat-card-content>
        <form [formGroup]="myform">

            <mat-form-field class="half">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category" required #sl>
                    <input matInput class="filterBox" placeholder="search" autocomplete="off" (keyup)="applyFilter($event.target.value)" />
                    <a class="closeButton">
                        <mat-icon  (click)="sl.close()">clear</mat-icon>
                      </a>
                    <mat-option *ngFor="let state of categories" [value]="state.id">
                        {{ state.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="half">
                <input trim="blur" matInput placeholder="Name" formControlName="name" autocomplete="off" required />
            </mat-form-field>
            <div *ngIf="submitted && myform.get('name').errors" class="feedback">
                <div *ngIf=" myform.get('name').errors.required" class="red"> Name is required</div>
            </div>


            <mat-form-field class="half">
                <input matInput placeholder="Model Company" formControlName="model_company" autocomplete="off"
                    required />
            </mat-form-field>


            <mat-form-field class="half">
                <input matInput placeholder="Model BDCOM" formControlName="model_bdcom" autocomplete="off" required />
            </mat-form-field>

            <mat-form-field class="half">
                <input matInput placeholder="Company" formControlName="company" autocomplete="off" required />
            </mat-form-field>

            <mat-form-field class="half">
                <input matInput placeholder="Price" formControlName="price" autocomplete="off"
                    required />
            </mat-form-field>

          
            <mat-form-field class="half">
                <mat-label>Input Quantity</mat-label>
                <mat-select formControlName="input_quantity" required>
                    <mat-option *ngFor="let state of quantity" [value]="state.value">
                        {{ state.value }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="half">
                <mat-label>Output Quantity</mat-label>
                <mat-select formControlName="output_quantity" [(ngModel)]="selected">
                    <mat-option *ngFor="let state of Outquantity" [value]="state.value">
                        {{ state.value }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
<div class="checkbox">

    
            <mat-checkbox class="checkbox" formControlName="fleet_management" labelPosition="before">
                Fleet management
            </mat-checkbox>

            <!-- <img type="hide"  > 
            <mat-label class="image">File *</mat-label>
            <input type="file" formControlName="file" (change)="onFileSelected($event)"
                enctype="multipart/form-data" required /><br> -->

                <img type="hide"  > 
                <mat-label class="image">File </mat-label>
                <input type="file" formControlName="file" (change)="onFileSelected($event)"
                    enctype="multipart/form-data"  /><br>

            
        </div>
            <mat-form-field class="half">
                <mat-label>Network Type</mat-label>
                <mat-select formControlName="network_type" required>
                    <mat-option *ngFor="let state of types" [value]="state.value">
                        {{ state.value }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="half">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status" required>
                    <mat-option *ngFor="let state of status" [value]="state.id">
                        {{ state.value }}
                    </mat-option>
                </mat-select>
            </mat-form-field>


          

            <mat-form-field class="half">
                <textarea matInput placeholder="Feature" formControlName="feature" autocomplete="off"></textarea>
            </mat-form-field>

            <mat-form-field class="half">
                <textarea matInput placeholder="Remark" formControlName="remark" autocomplete="off"></textarea>
            </mat-form-field>

            <!-- <mat-form-field class="full">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status" required>
                    <mat-option *ngFor="let state of status" [value]="state.id">
                        {{ state.value }}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->
            

        </form>
    </mat-card-content>

    <mat-card-actions>
        <button class="button" [disabled]="!myform.valid" mat-stroked-button color="primary" class="btn-block" (click)="addProduct()">
            Add
        </button>
        <p>Note: Field marked with * is Mandatory</p>
    </mat-card-actions>
</mat-card>