<mat-card class="customStyle">
    <div class="title-style">
        <mat-card-title>Notification Update Form</mat-card-title>
    </div>
    <mat-card-content>
        <form [formGroup]="myform">
            <div class="main">
                <div class="mainContent">

                    <mat-form-field class="full" required>
                        <mat-label>Types</mat-label>
                        <mat-select formControlName="type">
                            <mat-option *ngFor="let state of types" [value]="state.value">
                                {{ state.value }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span class="full">
                        <mat-checkbox class="checkbox" formControlName="all_devices" labelPosition="before">
                            All Devices
                        </mat-checkbox>
                    </span>
                    <mat-form-field class="full" required>
                        <mat-label>Channels</mat-label>
                        <mat-select formControlName="channels">
                            <mat-option *ngFor="let state of channels" [value]="state.value">
                                {{ state.value }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div class="optionalContent">
                    <mat-accordion class="example-headers-align">
                        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <mat-icon>add</mat-icon> Extra
                                </mat-panel-title>
                            </mat-expansion-panel-header>



                            <mat-form-field class="full" required>
                                <mat-label>Calender</mat-label>
                                <mat-select formControlName="calender">
                                    <mat-option *ngFor="let state of groups" [value]="state.id">
                                        {{ state.value }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-expansion-panel>
                    </mat-accordion>

                    <mat-accordion class="example-headers-align">
                        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <mat-icon>add</mat-icon> Attributes
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div formArrayName="attributes"
                                *ngFor="let assign of myform.get('attributes')['controls']; let i = index">
                                <div [formArrayName]="i">
                                    <mat-form-field class="half">
                                        <input trim="blur" matInput placeholder="Name" [id]="'name' + i"
                                            formControlName="name" autocomplete="off" />
                                    </mat-form-field>




                                    <mat-form-field class="half">
                                        <input trim="blur" matInput placeholder="Value" [id]="'value' + i"
                                            formControlName="value" autocomplete="off" />
                                    </mat-form-field>

                                    <div class="delAssigns" *ngIf="myform.get('attributes').length >1">
                                        <a>
                                            <mat-icon (click)="removeAttributes(i)">clear</mat-icon>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <button (click)="addassignAttributes()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>

            <!-- <div *ngIf="submitted && myform.get('status').errors" class="feedback">
            <div *ngIf=" myform.get('status').errors.required" class="red"> Status is required</div>
        </div> -->
        </form>
    </mat-card-content>

    <mat-card-actions class="button">
        <button class="button" mat-stroked-button color="primary" class="btn-block" (click)="updateNotification()">
            Update
        </button>
        <p>Note: Field marked with * is Mandatory</p>
    </mat-card-actions>
</mat-card>
