<div class="custom-style">
    <div class="table-title">
      <h3>Device Table</h3>
    </div>
    <div class="search-div">
      <mat-form-field class="filter">
        <input matInput placeholder="search" autocomplete="off" (keyup)="applyFilter($event.target.value)" />
      </mat-form-field>
      <button class="export_button" mat-button class="mat-raised-button mat-primary " (click)="exporter.exportTable('csv',{fileName:'driver'})">
        Export
     </button>
     <button class="add_button" mat-button  (click)="goAddItem()">
      <mat-icon>add</mat-icon>
   </button>

  
 <button class="export_button" mat-button class="mat-raised-button mat-primary" (click)="openImportModal()">
  Import
</button>
    </div>
  
    <table mat-table matTableExporter  [dataSource]="dataSource" matSort #exporter="matTableExporter" [hiddenColumns]="[0]"  class="mat-elevation-z8">
  
      <ng-container matColumnDef="action" >
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button *ngIf="assigedRole.includes('device_edit')==true" >
            <mat-icon  (click)="editDevice(row)">edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" *ngIf="assigedRole.includes('device_delete')==true" >
            <mat-icon (click)="deleteDevice(row)">delete_outline</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="setting" color="info" *ngIf="assigedRole.includes('device_setting')==true" >
            <mat-icon (click)="settingDevice(row)">settings</mat-icon>
          </button>
          <mat-menu #setting="matMenu">
            <button mat-menu-item  (click)="openDriverModal(row)">Drivers</button>
            <button mat-menu-item (click)="openNotificationModal(row)">Notifications</button>
            <button mat-menu-item (click)="openMaintenanceModal(row)">Maintenance</button>
            <button mat-menu-item (click)="openAttributeModal(row)">Computed Attributes</button>
            <button mat-menu-item (click)="openCommandModal(row)">Saved Commands</button>
          </mat-menu>

          <!-- <button mat-button [matMenuTriggerFor]="department">Department</button>
          <mat-menu #department="matMenu">
            <button mat-menu-item routerLink="">Add Department</button>
            <button mat-menu-item routerLink="">
              All Departments
            </button>
          </mat-menu> -->
        
        </td>
      </ng-container>
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
  
  
      <ng-container matColumnDef="identifier">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Identifer</th>
        <td mat-cell *matCellDef="let element">{{ element.uniqueid }}</td>
      </ng-container>
  
  

  
      <tr class="header-row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="row" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[25, 50, 100]" [pageSize]="25"></mat-paginator>
  </div>

  <mat-card *ngIf="isLoading" class="center"
  style="display:flex; justify-content: center; align-items: center">
    <mat-progress-spinner 
      color="primary" 
      mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>

