.filter{
    width: 15%;
    margin-right: 50%;
}

.mat-column-action {
    width: 20% !important;
}

.add_button{
    width: 10%;
    color: white;
    margin-left: 10px !important;
    background-color: blue;
}