<div class="custom-style">
    <div class="table-title">
        <h3>Command Table</h3>
        <span> <a>
                <mat-icon (click)="close()">X</mat-icon>
            </a></span>
    </div>



    <table mat-table matTableExporter [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef ></th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (change)="check($event.checked,row)" [checked]="checkState(row.id)">
                </mat-checkbox>
            </td>
        </ng-container>



        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef >Type</th>
            <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>


        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef >Description</th>
            <td mat-cell *matCellDef="let element">{{ element.description }}</td>
        </ng-container>

        <ng-container matColumnDef="sms">
            <th mat-header-cell *matHeaderCellDef >Send SMS</th>
            <td mat-cell *matCellDef="let element">{{sms[element.text_channel]?.value }}</td>
          </ng-container>




        <tr class="header-row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="row" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
