<mat-card class="customStyle">
    <div class="title-style">
        <mat-card-title>Password Reset Form</mat-card-title>
    </div>
    <mat-card-content>
      <form [formGroup]="myform">
  
        <!-- <mat-form-field class="half">
                      <mat-label>User Email</mat-label>
                      <mat-select formControlName="user_id">
                        <mat-option *ngFor="let state of this.data1" [value]="state.id">
                         {{state.fullName}} ({{ state.email }})
                        </mat-option>
                      </mat-select>
                    </mat-form-field> -->
  
        <mat-form-field class="full">
          <mat-label>User Email</mat-label>
          <mat-select formControlName="user_id" #dl required>
            <input class="dd" placeholder="search" (keyup)="filterUser($event.target.value)" autocomplete="off">
            <a><button class="closeButton" (click)="dl.close()"><b>x</b></button></a>
            <mat-option *ngFor="let state of users" [value]="state.id">
              {{state.full_name}} ({{ state.email }})
            </mat-option>
          </mat-select>
        </mat-form-field>
  
  
        <mat-form-field class="full">
          <input matInput type="password" placeholder="New Password" formControlName="password" autocomplete="off"
            required />
  
        </mat-form-field>
        <div *ngIf="submitted && myform.get('password').errors" class="invalid-feedback">
          <div *ngIf=" myform.get('password').errors.required" class="reda">Password is required</div>
        </div>
        <mat-form-field class="full">
          <input type="password" matInput placeholder="Confirm New Password" formControlName="confirm_password" required
            autocomplete="off" compare="password" />
          <mat-error>
            password does not match
          </mat-error>
        </mat-form-field>

    </form>
</mat-card-content>

<mat-card-actions>
    <button class="button" mat-stroked-button color="primary" class="btn-block" (click)="resetPassword()">
        Reset
    </button>
    <p>Note: Field marked with * is Mandatory</p>
</mat-card-actions>
</mat-card>
