<mat-card *ngIf="users">
    
    <b>Action:</b><br>
    By: {{users[queryData?.created_by -1]?.full_name}}<br>
    Time: {{queryData?.created_time|date:'medium'}}<br>
    States:<br>
    Document:<br>
<div class="form">
    <b>Form:</b><br>
    <form [formGroup]="myform">
        <mat-form-field class="full">
            <textarea matInput placeholder="Remarks" formControlName="remark"
                autocomplete="off"></textarea>
        </mat-form-field>

        <div class="full">  
            <mat-label class="image">File</mat-label>
            <input type="file" formControlName="file" (change)="onFileSelected($event)"
                enctype="multipart/form-data" required /><br>
        </div>
<div>
        <mat-form-field class="full" >
            <mat-label>States</mat-label>
            <mat-select formControlName="states" >
                <mat-option *ngFor="let state of states" [value]="state.value">
                    {{ state.value }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>    
<div>
        <mat-card-actions >
            <button class="button" mat-stroked-button color="primary" class="btn-block" (click)="addQueryAction()">
                Submit
            </button>
        </mat-card-actions>
    </div>
    </form>
</div>

</mat-card>

