<mat-card *ngIf="users" class="customStyle">
    <div><button class="back_button" mat-button class=" mat-primary" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
     </button></div>
    <div class="title-style">
       
        <div>
        <mat-card-title>Query Details</mat-card-title>
    </div>
    </div>
    <div>
    <b>Action:</b><br>
    By: {{usersIndex[queryData?.created_by]?.full_name}}<br>
    Time: {{queryData?.created_time|date:'medium'}}<br>
    States:<br>
    Document:<br>
</div>
<div class="form">
    <b>Form:</b><br>
    <form [formGroup]="myform">
        <mat-form-field class="full">
            <textarea matInput placeholder="Remarks" formControlName="remarks"
                autocomplete="off"></textarea>
        </mat-form-field>

        <div class="full">  
            <img type="hide" [src]="fileurl" style="width:100px;height:50px" *ngIf="fileurl"> 
            <mat-label class="image">File *</mat-label>
            <input type="file" formControlName="file" (change)="onFileSelected($event)"
                enctype="multipart/form-data" required /><br>
        </div>
<div>
        <mat-form-field class="full" >
            <mat-label>States</mat-label>
            <mat-select formControlName="states" required>
                <mat-option *ngFor="let state of states" [value]="state.value" >
                    {{ state.value }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>    
<div>
        <mat-card-actions >
            <button class="button" mat-stroked-button color="primary" class="btn-block" (click)="addQueryAction()">
                Submit
            </button>
            <p>Note: Field marked with * is Mandatory</p>
        </mat-card-actions>
    </div>
    </form>
</div>

</mat-card>

