.container{ width: 100%;
    background-color: whitesmoke;}
    
    // mat-grid-tile {
    //     background: lightblue;
    //   }
    .f{
        width: 30%;
        height: 100%;
        float: left;
        background-color: burlywood;
    }
    .s{
        width: 70% !important;
        height: 100%;
        background-color: burlywood;
    }
    
    .vertical {
        width: 3px;
        // height: 100%;
        background-color: gray;
        /* or height in PX */
      }