<div class="custom-style">
  <div class="header">
    <div class="table-title">
      <h3>Product Table</h3>
    </div>

    <!-- <div  class="search-div"> -->

    <div  fxLayout="row" fxLayout.xs="column">
      <div fxFlex=65%>
        <form [formGroup]="myform">
          <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex=50% fxFlex.xs=100%>


              <mat-form-field fxFlex=30% fxFlex.xs=30% class="search_field">
                <input matInput placeholder="Name" formControlName="name" autocomplete="off" />
              </mat-form-field>



              <mat-form-field fxFlex=30% fxFlex.xs=30% class="search_field">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category" #sl>
                  <input matInput class="filterBox" placeholder="search" autocomplete="off"
                    (keyup)="applyFilter($event.target.value)" />
                  <a class="closeButton">
                    <mat-icon (click)="sl.close()">clear</mat-icon>
                  </a>
                  <mat-option *ngFor="let state of categories" [value]="state.id">
                    {{ state.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex=30% fxFlex.xs=30% class="search_field">
                <input matInput placeholder="Company Model" formControlName="model_company" autocomplete="off" />
              </mat-form-field>

            </div>
            <div fxFlex=50% fxFlex.xs=100%>

              <mat-form-field fxFlex=30% fxFlex.xs=30% class="search_field">
                <input matInput placeholder="BDCOM Model" formControlName="model_bdcom" autocomplete="off" />
              </mat-form-field>
              <mat-form-field fxFlex=30% fxFlex.xs=30% class="search_field">
                <input matInput placeholder="Status" formControlName="status" autocomplete="off" />
              </mat-form-field>
              <mat-form-field fxFlex=30% fxFlex.xs=30% class="search_field">
                <input matInput placeholder="Company" formControlName="company" autocomplete="off" />
              </mat-form-field>


            </div>
          </div>
        </form>
      </div>
      <div fxFlex=25% fxFlex.xs=100% class="command">

        <button mat-button class="search_button" class="mat-stroked-button mat-primary " (click)="getProductBySearch()">
          Search
        </button>
        <button mat-button class="search_button" class="mat-stroked-button mat-primary " (click)="getBack()">
          Back
        </button>
        <!-- <mat-form-field class="filter">
        <input matInput placeholder="search" autocomplete="off" (keyup)="applyFilter($event.target.value)" />
      </mat-form-field> -->
      <span class="addButton">
        <button class="export_button" mat-button class="mat-raised-button mat-primary " (click)="goAddPage()">
         Add
      </button>
      </span>
        <button class="export_button" mat-button class="mat-raised-button mat-primary "
          (click)="exporter.exportTable('csv',{fileName:'product'})">
          CSV
        </button>

        <!-- <span class="addButton">
     <button class="export_button" mat-button class="mat-raised-button mat-primary " (click)="goAppPage()">
      Add
   </button> -->
        <!-- </span> -->

      </div>
    </div>
    <div class="table_container">
      <table mat-table matTableExporter [dataSource]="dataSource" matSort #exporter="matTableExporter"
        [hiddenColumns]="[0]" class="mat-elevation-z8">

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button *ngIf="assigedRole.includes('category_edit')==true">
              <mat-icon (click)="editProduct(row)">edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" *ngIf="assigedRole.includes('category_delete')==true">
              <mat-icon (click)="deleteCategory(row)">delete_outline</mat-icon>
            </button>

            <button mat-icon-button color="info" *ngIf="assigedRole.includes('product_details')==true">
              <mat-icon (click)="productDetails(row.id)">visibility</mat-icon>
            </button>

          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element"><a (click)="productDetails(element.id)">{{ element.name }}</a></td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
          <td mat-cell *matCellDef="let element">{{ categoryIndex[element?.category]?.name }}</td>
        </ng-container>

        <ng-container matColumnDef="model.company">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Comapany Model</th>
          <td mat-cell *matCellDef="let element">{{ element.model_company }}</td>
        </ng-container>

        <ng-container matColumnDef="model.bdcom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Bdcom Model</th>
          <td mat-cell *matCellDef="let element">{{ element.model_bdcom }}</td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Network Type</th>
          <td mat-cell *matCellDef="let element">{{ element.network_type }}</td>
        </ng-container>

        <ng-container matColumnDef="company">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>
          <td mat-cell *matCellDef="let element">{{ element.company }}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
          <td mat-cell *matCellDef="let element">{{element.price }}</td>
        </ng-container>
        <!-- <ng-container matColumnDef="input">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Input Quantity</th>
        <td mat-cell *matCellDef="let element">{{element.input_quantity }}</td>
      </ng-container>

      <ng-container matColumnDef="output">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Output Quantity</th>
        <td mat-cell *matCellDef="let element">{{element.output_quantity }}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
        <td mat-cell *matCellDef="let element">{{element.price }}</td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th class="long-text" mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
        <td class="long-text" mat-cell *matCellDef="let element">
          Time:{{ element.created_time|date:'medium' }}, By:{{ this.usersIndex[element.created_by]?.full_name }}</td>
      </ng-container>
  
      <ng-container matColumnDef="updated">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated</th>
        <td mat-cell *matCellDef="let element">
          Time:{{ element.updated_time|date:'medium' }}, By:{{ this.usersIndex[element.updated_by]?.full_name  }}</td>
      </ng-container> -->

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">{{states[element.status]?.value }}</td>
        </ng-container>



        <tr class="header-row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="row" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <!-- <mat-paginator [pageSizeOptions]="[25, 50, 100]" [pageSize]="25"></mat-paginator> -->
  </div>


  <div class="middle">
    <ul *ngIf="this.pager.pages && this.pager.pages.length" class="pagination">

      <li [ngClass]="{disabled:pager.currentPage === 1}" class="pagination">
        <a (click)="getProductByPage(this.pager.currentPage - 1)">&laquo;</a>
      </li>

      <li *ngFor="let page of pager.pages" [ngClass]="{'active':pager.currentPage === page}" class="pagination">
        <a (click)="getProductByPage(page)">{{page}}</a>
      </li>

      <li [ngClass]="{disabled:pager.currentPage === 2}" class="pagination">
        <a (click)="getProductByPage(this.pager.currentPage + 1)">&raquo;</a>
      </li>
    </ul>
  </div>


  <mat-card *ngIf="isLoading" style="display:flex; justify-content: center; align-items: center">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>

  <mat-card  *ngIf="products==''">
    No Records Found!
    </mat-card>