<div class="container">
    <mat-tab-group (selectedTabChange)="objectTab($event)" #allTabs>
        <mat-tab label="Objects">

            <div *ngIf="dataSource">
                <div class="search-div">
                    <mat-form-field class="filter">
                        <input matInput placeholder="search" autocomplete="off"
                        (keyup)="filterItem($event.target.value)" [checked]="box" />
                    </mat-form-field>

                    <button class="btn">
                        +
                    </button>
                    <button class="btn">
                        -
                    </button>
                </div>

                <!-- <table mat-table matTableExporter [dataSource]="dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox [checked]="checkState(row.id)" (change)="check($event.checked,row)" [checked]="checkState(row.id)">
                            </mat-checkbox>
                        </td>
                    </ng-container>



                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element"><a (click)="getLocation(element)">{{ element.name }}</a></td>
                    </ng-container>


                    <ng-container matColumnDef="identifier">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">{{ element.unique_id }}</td>
                    </ng-container>

                    <ng-container matColumnDef="more">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <a [matMenuTriggerFor]="hospital">
                                <mat-icon>more_vert</mat-icon>
                            </a>
                        </td>
                    </ng-container>
                   
                        <mat-menu class="dropdown-content" #hospital="matMenu">
                            <button mat-menu-item routerLink="/">Hospital List</button>
    
                            <button mat-menu-item routerLink="info/map">
                                Hospital Map
                            </button>
    
                        </mat-menu>
    
    
              
                    
                    <tr class="header-row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr class="row" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table> -->


                 <!-- <div class="allCheck">
                        <mat-checkbox  (change)="checkAll($event.checked)" class="heading"> All
                            Permission</mat-checkbox>
                        <mat-divider></mat-divider>
                    </div> -->


           <div>
                   
                    <form [formGroup]="myform">
                    <mat-accordion>
                        <mat-expansion-panel [expanded]="false" *ngFor="let state of customers;  let i=index "
                            class="space" style="clear:both">

                            <mat-expansion-panel-header>
                                <mat-checkbox (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()"
                                    (change)="checkAllByGroup($event.checked,state.customer_id)" class="group"
                                    formControlName="customer_id" [value]="state.customer_id" 
                                    >

                                    {{state.name}}  
                                </mat-checkbox>
                            </mat-expansion-panel-header>
                            <div *ngFor="let val of permission[state.customer_id]; let l=index  ">

                                <div class="item">
                                    <mat-checkbox class="name" [checked]="checkState(val.deviceid)"
                                        (change)="check($event.checked,devicesIndex[val.deviceid])"
                                        (keyup)="filterItem($event.target.value)">


                                    </mat-checkbox>
                                    <a class="devicename"
                                        (click)=getLocation(devicesIndex[val.deviceid])>{{devicesIndex[val.deviceid]?.name}}</a>
                                   
                                       
                                    <a class="b2"  [matMenuTriggerFor]="hospital">
                                        <mat-icon >more_vert</mat-icon>
                                    </a>
                                    <mat-menu class="dropdown-content" #hospital="matMenu">
                                        <button mat-menu-item routerLink="/">Hospital List</button>

                                        <button mat-menu-item routerLink="info/map">
                                            Hospital Map
                                        </button>

                                    </mat-menu>
                                </div>
                            </div>

                        </mat-expansion-panel>
                    </mat-accordion>
                </form>
                </div>

 


              



            </div>
        </mat-tab>
        <mat-tab label="Events">
             <table mat-table matTableExporter [dataSource]="dataSource" class="mat-elevation-z8">

                  

                    <ng-container matColumnDef="time">
                        <th mat-header-cell *matHeaderCellDef>Time</th>
                        <td mat-cell *matCellDef="let element"><a>{{ element.eventtime }}</a></td>
                    </ng-container>


                    <ng-container matColumnDef="device_id">
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef="let element">{{ element.deviceid }}</td>
                    </ng-container>

                    <ng-container matColumnDef="event">
                        <th mat-header-cell *matHeaderCellDef>Events</th>
                        <td mat-cell *matCellDef="let element">{{ element.geofenceid }}</td>
                    </ng-container>

                    <ng-container matColumnDef="more">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <a [matMenuTriggerFor]="hospital">
                                <mat-icon>more_vert</mat-icon>
                            </a>
                        </td>
                    </ng-container>
                   
                        <mat-menu class="dropdown-content" #hospital="matMenu">
                            <button mat-menu-item routerLink="/">Alert</button>
    
                            <button mat-menu-item routerLink="info/map">
                               Delete
                            </button>
    
                        </mat-menu>
    
    
              
                    
                    <tr class="header-row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr class="row" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </mat-tab>
        <mat-tab label="History">
            <div *ngIf="devices">
                <form [formGroup]="myform">

                    <mat-form-field class="half">
                        <mat-label>Device</mat-label>
                        <mat-select formControlName="id" [(ngModel)]="selected" #sl>
                            <input matInput class="filterBox" placeholder="search" autocomplete="off"
                                (keyup)="applyFilter($event.target.value)" />
                            <a class="closeButton">
                                <mat-icon (click)="sl.close()">clear</mat-icon>
                            </a>
                            <mat-option *ngFor="let state of devices" [value]="state.id">
                                {{ state.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- <mat-form-field appearance="fill">
                        <mat-label>From Date</mat-label>
                        <input formControlName="from_date" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field> -->
                    <!-- <mat-form-field class="clock">
                        <mat-placeholder>From DateTime</mat-placeholder>
                        <input matInput  formControlName="from_date"   [matDatetimepicker]="dts"  autocomplete="false">
                        <mat-datetimepicker-toggle [for]="dts" matSuffix></mat-datetimepicker-toggle>
                        <mat-datetimepicker #dts type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-placeholder>To DateTime</mat-placeholder>
                        <input matInput  formControlName="to_date" [matDatetimepicker]="dtt" required autocomplete="false">
                        <mat-datetimepicker-toggle [for]="dtt" matSuffix></mat-datetimepicker-toggle>
                        <mat-datetimepicker #dtt type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
                    </mat-form-field> -->

                    <mat-form-field>
                        <input matInput [owlDateTime]="dt1" formControlName="from_date" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
                        <owl-date-time #dt1></owl-date-time>
                    </mat-form-field>

                    <mat-form-field>
                    
                        <input matInput [owlDateTime]="dt2" formControlName="to_date" [owlDateTimeTrigger]="dt2" placeholder="To Time">
                        <owl-date-time #dt2></owl-date-time>
                    </mat-form-field>

                  


                    <!-- <mat-form-field appearance="fill">
                        <mat-label>To Date</mat-label>
                        <input formControlName="to_date" matInput [matDatepicker]="pickert">
                        <mat-datepicker-toggle matSuffix [for]="pickert"></mat-datepicker-toggle>
                        <mat-datepicker #pickert></mat-datepicker>
                    </mat-form-field> -->

                   

                </form>
                <button class="button" mat-raised-button color="primary" class="btn-block" (click)="loadHistory()">
                    Load History
                </button>

                <div>
                    <mat-card *ngIf="isLoading" style="display:flex; justify-content: center; align-items: center">
                        <mat-progress-spinner color="primary" mode="indeterminate">
                        </mat-progress-spinner>
                      </mat-card>
                </div>
    
                <div  *ngIf="historyData==''">
                    No Records Found!
                    </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>