.customStyle{
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 10px 15px #1A237E;
    .title-style{
      color:#1A237E ;
      text-align: center !important;
      margin-bottom: 15px;
     
    }
    .warning{
      color: red;
      margin-left: 30px;
    }
    .error_message{
      color: red;
      margin-left: 20px;
      margin-top: -10px;
      font-size: 12px;
    }
}

.mat-stroked-button{
    width:120px;  border: 1px solid blue;
  }

  .sidenav-content{
    height: 120%;
  }

  .filterBox{
    width: 100px;
    height: 20px;
}
