<mat-card class="customStyle">
    <div class="title-style">
        <mat-card-title>Permission Group Item Add Form</mat-card-title>
    </div>
    <mat-card-content>
        <form [formGroup]="myform">

            <mat-form-field class="full">
                <input trim="blur" matInput placeholder="Name" formControlName="name" autocomplete="off" required />
            </mat-form-field>
            <!-- <div *ngIf="submitted && myform.get('name').errors" class="feedback">
                <div *ngIf=" myform.get('name').errors.required" class="red"> Name is required</div>
            </div> -->


            <mat-form-field class="full">
                <input trim="blur" matInput placeholder="Permission" formControlName="permission" UniqueItem autocomplete="off"
                    required />
            </mat-form-field>

            <div class="error_message" *ngIf="myform.get('permission').errors?.UniqueItem ">
                item already exist
              </div>


            <mat-form-field class="full">
                <mat-label>Permission Group</mat-label>
                <mat-select formControlName="group_id" required>
                    <mat-option *ngFor="let state of groups" [value]="state.id">
                        {{ state.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="full">
                <mat-label>Weight</mat-label>
                <mat-select formControlName="weight" required>
                    <mat-option *ngFor="let state of weights" [value]="state">
                        {{ state }}
                    </mat-option>
                </mat-select>
            </mat-form-field>



            <mat-form-field class="full">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status" required>
                    <mat-option *ngFor="let state of states" [value]="state.id">
                        {{ state.value }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <div *ngIf="submitted && myform.get('status').errors" class="feedback">
            <div *ngIf=" myform.get('status').errors.required" class="red"> Status is required</div>
        </div> -->
        </form>
    </mat-card-content>

    <mat-card-actions>
        <button class="button" mat-stroked-button color="primary" class="btn-block" (click)="addItem()">
            Add
        </button>
        <p>Note: Field marked with * is Mandatory</p>
    </mat-card-actions>
</mat-card>