<mat-card class="customStyle">
    <div class="title-style">
        <mat-card-title>Attribute Update Form</mat-card-title>
    </div>
    <mat-card-content>
        <form [formGroup]="myform">

            <mat-form-field class="full">
                <textarea trim="blur" matInput placeholder="Description" formControlName="description"
                    autocomplete="off" required></textarea>
            </mat-form-field>
            <div *ngIf="submitted && myform.get('description').errors" class="feedback">
                <div *ngIf=" myform.get('description').errors.required" class="red"> Name is required</div>
            </div>



            <mat-form-field class="full" required>
                <mat-label>Attribute</mat-label>
                <mat-select formControlName="attribute" required>
                    <mat-option *ngFor="let state of attributes" [value]="state.value">
                        {{ state.value }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="full">
                <textarea trim="blur" matInput placeholder="Expression" formControlName="expression"
                    autocomplete="off" required></textarea>
            </mat-form-field>

            <mat-form-field class="full" required>
                <mat-label>Type</mat-label>
                <mat-select formControlName="type" required>
                    <mat-option *ngFor="let state of types" [value]="state.value">
                        {{ state.value }}
                    </mat-option>
                </mat-select>
            </mat-form-field>



        </form>
    </mat-card-content>

    <mat-card-actions class="button">
        <button class="button" mat-stroked-button color="primary" class="btn-block" (click)="updateAttribute()">
           Update
        </button>
        <p>Note: Field marked with * is Mandatory</p>
    </mat-card-actions>
</mat-card>
