<mat-card *ngIf="productData" class="customStyle">
    <div><button class="back_button" mat-button class=" mat-primary" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button></div>
    <div class="title-style">
  
      <div>
        <mat-card-title>Products Details</mat-card-title>
      </div>
    </div>
    <div>
      <div>
        <mat-grid-list cols="2" rowHeight="40px">
          <mat-grid-tile><div> <b>Name:</b> {{productData.name}}</div></mat-grid-tile>
          <!-- <mat-grid-tile><div><b>Email:</b> {{categoryIndex[productData?.category]?.name}}</div></mat-grid-tile> -->
          <mat-grid-tile><div><b>Model Company:</b> {{productData.model_company}}</div></mat-grid-tile>
          <mat-grid-tile><div><b>Model BDCOM:</b> {{productData.model_bdcom}}</div></mat-grid-tile>
          <mat-grid-tile><div><b>Network Type:</b> {{productData.network_type}}</div></mat-grid-tile>
          <mat-grid-tile><div><b>Company:</b> {{productData.company}}</div></mat-grid-tile>
          <mat-grid-tile><div><b>Input Quantity:</b> {{productData.input_quantity}}</div></mat-grid-tile>
          <mat-grid-tile><div><b>Output Quantity:</b> {{productData.output_quantity}}</div></mat-grid-tile>
          <mat-grid-tile><div><b>Feature:</b> {{productData.feature}}</div></mat-grid-tile>
          <mat-grid-tile><div><b>Remarks:</b> {{productData.remarks}}</div></mat-grid-tile>
          <mat-grid-tile><b>Status :</b>{{states[productData.status]?.value}}</mat-grid-tile>
          <mat-grid-tile><div><b>
              Created :
            </b> By: {{usersIndex[productData?.created_by]?.full_name}}<br>
            Time: {{productData?.created_time|date:'medium'}}<br>
      </div>
      </mat-grid-tile>
      <mat-grid-tile><div><b>Updated :</b> By: {{usersIndex[productData?.created_by]?.full_name}}<br>
        Time: {{productData?.created_time|date:'medium'}}</div></mat-grid-tile>
     
      </mat-grid-list>
  
    </div>
    </div>
    </mat-card>
