.tableTitle{
    background-color: aliceblue;
}

 .full {
    width: 90%;
    margin-left: 5%;
   }
 
 .half{
     width: 42.5%;
     margin-left: 5%;
  
     float: left;
   }

h3{
    float: left;
    margin-right: 70%;
    margin-left: 5%;
}
h4{
   
   
    margin-left: 5%;
}

.toolsIcon{
    font-size: 14px;
    margin-right: 0px;
  }

  .closeIcon{
    font-size: 20px;
    top:20px;
  }

  h4{margin-top: 10px;
cursor: pointer;}