<div class="custom-style">

  <div class="table-title">
    <h3>Customer List</h3>
  </div>

  <!-- <div  class="search_div"> -->

  <div class="search-div" fxLayout="row" fxLayout.xs="column">
    <div fxFlex=65% >

      <form [formGroup]="myform">
<div fxLayout="row" fxLayout.xs="column">
        <div fxFlex=50% fxFlex.xs=50%>
          <mat-form-field fxFlex=32% fxFlex.xs=32% class="search_field">
            <input matInput placeholder="Customer Id" formControlName="customer_id" autocomplete="off" />
          </mat-form-field>

          <mat-form-field fxFlex=32% fxFlex.xs=32% class="search_field">
            <input matInput placeholder="Name" formControlName="name" autocomplete="off" />
          </mat-form-field>
          <mat-form-field fxFlex=32% fxFlex.xs=32% class="search_field">
            <input matInput placeholder="Email" formControlName="email" autocomplete="off" />
          </mat-form-field>
        </div>
        <div fxFlex.xs=50%>
         
          <mat-form-field fxFlex=22% fxFlex.xs=32% class="search_field">
            <input matInput placeholder="Phone" formControlName="phone" autocomplete="off" />
          </mat-form-field>

          <mat-form-field fxFlex=22% fxFlex.xs=32% class="search_field">
            <mat-label>Reseller</mat-label>
            <mat-select formControlName="reseller_id" >
                <mat-option *ngFor="let state of resale" [value]="state.id">
                    {{ state.value }}
                </mat-option>
            </mat-select>
        </mat-form-field>
          <mat-form-field fxFlex=22% fxFlex.xs=32% class="search_field">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" >
                <mat-option *ngFor="let state of states" [value]="state.id">
                    {{ state.value }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        </div>
        
      </div>
      </form>

    </div>
    <div fxFlex=35% fxFlex.xs=100%>

      <button mat-button class="search_button" class="mat-stroked-button mat-primary " (click)="cleanForm(myform)" (click)="getCustomerBySearch()">
        Search
      </button>
      <button mat-button class="search_button" class="mat-stroked-button mat-primary " (click)="getBack()">
        Back
      </button>
      <span class="addButton">
        <button class="export_button" mat-button class="mat-raised-button mat-primary " (click)="goAddPage()">
         Add
      </button>
      </span>
      <!-- <mat-form-field class="filter">
        <input matInput placeholder="search" autocomplete="off" (keyup)="applyFilter($event.target.value)" />
      </mat-form-field> -->

      <button class="export_button" mat-button class="mat-raised-button mat-primary "
        (click)="exporter.exportTable('csv',{fileName:'product'})">
        CSV
      </button>

      <!-- <span class="importButton">
        <button class="export_button" mat-button class="mat-raised-button mat-primary " (click)="openResellerDeviceModal()">
          Import
        </button>
      </span> -->
    </div>
  </div>
  <!-- </div> -->
  <!-- <span class="addButton">
     <button class="export_button" mat-button class="mat-raised-button mat-primary " (click)="goAppPage()">
      Add
   </button> -->
  <!-- </span> -->



  <div class="table_container">
    <table mat-table matTableExporter [dataSource]="dataSource" matSort #exporter="matTableExporter"
      [hiddenColumns]="[0]" class="mat-elevation-z8">

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row">
          
          <button mat-icon-button *ngIf="assigedRole.includes('customer_edit')==true">
            <mat-icon (click)="editCustomer(row.customer_id)">edit</mat-icon>
          </button>

          <button mat-icon-button [matMenuTriggerFor]="setting" color="info"
            *ngIf="assigedRole.includes('customer_setting')==true">
            <mat-icon>settings</mat-icon>
          </button>
          <button mat-icon-button color="info" >
            <mat-icon (click)="customerQuery(row.customer_id)">visibility</mat-icon>
          </button>

          <button mat-icon-button color="info" >
            <mat-icon (click)="openResellerDeviceModal(row)">import_export</mat-icon>
          </button>

          <button mat-icon-button *ngIf="row.reseller==1">
            <mat-icon (click)="resellerCustomer(row.id)">view_list</mat-icon>
          </button>
          <mat-menu #setting="matMenu">
            <button mat-menu-item (click)="openDeviceModal(row)">Devices</button>
            <button mat-menu-item (click)="openDriverModal(row)">Drivers</button>
          </mat-menu>
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="customer_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer ID</th>
        <td mat-cell *matCellDef="let element">{{ element.customer_id
            }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>


      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
        <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
      </ng-container>


      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element">{{element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="reseller">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Reseller</th>
        <td mat-cell *matCellDef="let element">{{resale[element.reseller]?.value }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element">{{states[element.status]?.value }}</td>
      </ng-container>



      <tr class="header-row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="row" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <!-- <mat-paginator [pageSizeOptions]="[25, 50, 100]" [pageSize]="25"></mat-paginator> -->
</div>

<div class="middle">
  <ul *ngIf="this.pager.pages && this.pager.pages.length" class="pagination">

    <li [ngClass]="{disabled:pager.currentPage === 1}" class="pagination">
      <a (click)="getCustomerByPage(this.pager.currentPage - 1)">&laquo;</a>
    </li>

    <li *ngFor="let page of pager.pages" [ngClass]="{'active':pager.currentPage === page}" class="pagination">
      <a (click)="getCustomerByPage(page)">{{page}}</a>
    </li>

    <li [ngClass]="{disabled:pager.currentPage === 2}" class="pagination">
      <a (click)="getCustomerByPage(this.pager.currentPage + 1)">&raquo;</a>
    </li>
  </ul>
</div>

<mat-card *ngIf="isLoading" style="display:flex; justify-content: center; align-items: center">
  <mat-progress-spinner color="primary" mode="indeterminate">
  </mat-progress-spinner>
</mat-card>

<mat-card  *ngIf="customers==''">
  No Records Found!
  </mat-card>