// .menu{
//     margin-top: -3%;
// }
h2{
    margin-top: 3%;
}
.mi{
   
    width: 100% !important;
   // min-width:100% !important ;
    // min-width: 550px;
    background-color:#3f51b5 ;
    float: left;
}
.space{
    flex: 1 1 auto; 
}
// .date{
//     color: white;
//     margin-top: 4%;
//     float: right;
// }
.col{
    color: white;  
}

.colm{
    margin-left: 2%;
    color: white;  
}
.map { width: 100%;
    // min-height: 600px;
    // max-height: 100%;
   
  }