<div class="container">

    <!-- <div fxLayout="row" fxLayout.xs="column"    class="content">
     
        <mat-card fxFlex="20%" fxFlex.xs="100%" class="percent">
            <h4>Devices(percents)</h4><br>
           
            <mat-card-content>
                <br>
                <h5>Device 1</h5>
                <h5>Device 1</h5>
                <h5>Device 1</h5>
                <h5>Device 1</h5>
           
            </mat-card-content>
        
        </mat-card>
   

 
        <mat-card  fxFlex="20%" fxFlex.xs="100%"  class="alerts">
            <h4>Alerts</h4><br>
            <mat-card-content>
                <br>
                <h5>Device 1</h5>
                <h5>Device 1</h5>
                <h5>Device 1</h5>
                <h5>Device 1</h5>
            </mat-card-content>
        </mat-card>
   
    
        <mat-card  fxFlex="20%" fxFlex.xs="100%" class="devices">
            <h4>Devices</h4><br>
            <mat-card-content>
                <br>
                <h5>Device 1</h5>
                <h5>Device 1</h5>
                <h5>Device 1</h5>
                <h5>Device 1</h5>
            </mat-card-content>
        </mat-card>
    
    
        <mat-card  fxFlex="20%" fxFlex.xs="100%" class="tasks">
            <h4>Tasks</h4><br>
            <mat-card-content>
                <br>
                <h5>Device 1</h5>
                <h5>Device 1</h5>
                <h5>Device 1</h5>
                <h5>Device 1</h5>
            </mat-card-content>
        </mat-card>
   
    </div>
    <div class="contentS">
        <mat-card  class="distance">
            <h4>Devices Travelled</h4><br>
            <mat-card-content>
                <br>
                <h5>Distance 1</h5>
                <h5>Distance 1</h5>
                <h5>Distance 1</h5>
                <h5>Distance 1</h5>
            </mat-card-content>
        </mat-card>
    </div> -->

    <mat-grid-list class="summary" gutterSize="7px" cols="48" rowHeight="100px">
        <div>
            <div>
        <mat-grid-tile  [colspan]="12" [style.background]="'#7557d6'">
            <div class="boxinfo">
            <h2>{{1}} </h2>
            <div><mat-icon class="iconcss">time_to_leave</mat-icon><span >Online</span>  </div>
        </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="12" [style.background]="'#3e5c8a'">
            <div>
            <h2>{{1}} </h2>
           <mat-icon>time_to_leave</mat-icon> Offline
            
            </div>
        </mat-grid-tile>
    </div>
    <div>
        <mat-grid-tile [colspan]="8" [style.background]="'#3bb0f1'">
            <div>
            <p><mat-icon>desktop_mac</mat-icon></p>
            <h5>Monitor</h5>
        </div>
           
        </mat-grid-tile>
        <mat-grid-tile [colspan]="16" [style.background]="'#3e5c8a'">
            <div>
                <p><mat-icon>align_vertical_bottom</mat-icon></p>
                <h5>Report</h5>
            </div>
        </mat-grid-tile>
    </div>

    </div>

        <mat-grid-tile [colspan]="12" [style.background]="'#e96343'">
            <div class="boxinfo">
               <div > <h2>{{1}} </h2></div>
           <div> <mat-icon>warning_amber</mat-icon>  Alert Devices</div>
        </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="6" [style.background]="'#3fa0ec'">
            <div class="boxinfo">
                <div > <h2>{{0}} </h2></div>
            <div> <mat-icon>hourglass_top</mat-icon>  Expiring Soon</div>
         </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="6" [style.background]="'#2f5998'">
            <div class="boxinfo">
                <div > <h2>{{0}} </h2></div>
            <div> <mat-icon>hourglass_empty</mat-icon>  Expired</div>
         </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="8" [style.background]="'#2487d0'">
            <div>
                <p><mat-icon>fence</mat-icon></p>
                <h5>Geo Fence</h5>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="8" [style.background]="'#7F3979'">
            <div>
                <p><mat-icon>sports_score</mat-icon></p>
                <h5>POI</h5>
            </div>
         </mat-grid-tile>
         <mat-grid-tile [colspan]="8" [style.background]="'#2f829a'">
            <div>
                <p><mat-icon>cast_connected</mat-icon></p>
                <h5>Device Management</h5>
            </div>
         </mat-grid-tile>



         <mat-grid-tile [colspan]="12" [style.background]="'#2f829b'">
            <div class="boxinfo">
                <div > <h2>{{0}} </h2></div>
            <div> <mat-icon>favorite_border</mat-icon>  Following</div>
         </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="6" [style.background]="'#2487d0'">
            <div class="boxinfo">
                <div > <h2>{{0}} </h2></div>
            <div> <mat-icon>done_all</mat-icon>  Activated</div>
         </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="6" [style.background]="'#a34a42'">
            <div class="boxinfo">
                <div > <h2>{{0}} </h2></div>
            <div> <mat-icon>airplanemode_inactive</mat-icon>  Inative</div>
         </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="12" [style.background]="'#377b13'">
            <div>
                <p><mat-icon>keyboard_command_key</mat-icon></p>
                <h5>Command</h5>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="12" [style.background]="'#a34a42'">
            <div>
                <p><mat-icon>add_alert</mat-icon></p>
                <h5>Alerts</h5>
            </div>
         </mat-grid-tile>
    </mat-grid-list>
    
        <div class="infoService" [style.background]="'#217dc3'">
            	
       My Service Provider
        </div>
        
   
</div>
<!-- <div  *ngIf="datam">
<div *ngFor="let group of datam">
    {{group.campaign_id}}
    <div *ngFor="let menu of permission['bdcom']">
         {{permission[group.campaign_id]|json}} 
     {{menu.user_id}}
     
    </div>
  </div>
</div> -->

