<div class="container" >
<!--    
    <div class="header"> 
    <h3>Dashboard</h3>
</div> -->

    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" class="content">
        <mat-card fxFlex="20%" class="percent">
            <h4>Devices(percents)</h4><br>
           
            <mat-card-content>
                <br>
                <h5>Device 1</h5>
                <h5>Device 1</h5>
                <h5>Device 1</h5>
                <h5>Device 1</h5>
           
            </mat-card-content>
        
        </mat-card>
        <mat-card fxFlex="20%" class="alerts">
            <h4>Alerts</h4><br>
            <mat-card-content>
                <br>
                <h5>Device 1</h5>
                <h5>Device 1</h5>
                <h5>Device 1</h5>
                <h5>Device 1</h5>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex="20%" class="devices">
            <h4>Devices</h4><br>
            <mat-card-content>
                <br>
                <h5>Device 1</h5>
                <h5>Device 1</h5>
                <h5>Device 1</h5>
                <h5>Device 1</h5>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex="20%" class="tasks">
            <h4>Tasks</h4><br>
            <mat-card-content>
                <br>
                <h5>Device 1</h5>
                <h5>Device 1</h5>
                <h5>Device 1</h5>
                <h5>Device 1</h5>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="contentS">
        <mat-card  class="distance">
            <h4>Devices Travelled</h4><br>
            <mat-card-content>
                <br>
                <h5>Distance 1</h5>
                <h5>Distance 1</h5>
                <h5>Distance 1</h5>
                <h5>Distance 1</h5>
            </mat-card-content>
        </mat-card>
    </div>
</div>

