.mat-card{
    width: 750px;
  }

.heading{
     font-weight: 500;
 }

.space{
    margin-bottom: 20px;
}

.space2{
    margin-right: 5px;
}

.item{
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}

.listItem{
    margin-left: 0px;
}

.mainItem{
    display:inline-block;
    height: 20px;
}

.group{
    font-size: 14px;
    font-weight: 500;
}
.item{
    font-size: 14px;   
}

.submitButton{
    margin-top: 50px;
}

.allCheck{
    margin-bottom: 10px;;
}

.mat-stroked-button{
    width:120px;  border: 1px solid blue;
  }

  h3{
    font-weight: 550;
    color: blue;
}