
<!-- <div id="mapid" style=" width: 100%; height: 100%;"> -->
<div  [ngClass]="{'show': s, 'hide': h}"  id="t" class="mi" fxLayout="row" fxLayout.xs="column" color="primary">


    <div fxFlex="73%" fxLayout="row" fxLayout.xs="100%">
        <div fxFlex="80%">
            <img src="assets/client/images/traccar.png" width="100" alt="avatar" />
        </div>
        <div *ngIf="deviceXs" fxLayout="row" fxFlex="30%">
  
          <a id="r" mat-button [matMenuTriggerFor]="menu">
            <!-- <span class="image-border"> -->
            <img class="logout-image" src="assets/client/images/avatar.png" width="35" alt="avatar" />
            <!-- </span> -->
            <!-- <div class="pname">{{this.data2.fullName}}</div> assets/images/avatar.png -->
            <span class="align-middle"></span>
          </a>
        </div>

    </div>
  
    <div fxFlex="22%" fxLayout.xs="100%">

        <div class="position">



            <button class="mainmenubt" mat-button class="col"  [matMenuTriggerFor]="menu">
                <mat-icon class="mainmenubt"  matTooltip="Tools">build</mat-icon>
            </button>


            <button mat-button class="col" ><mat-icon  matTooltip="Setup">settings</mat-icon></button>

            <button mat-button class="col" ><mat-icon  matTooltip="Chat">chat</mat-icon></button>

            <mat-menu  #menu="matMenu">
                <button class="matbt" mat-menu-item (click)="goGeofenceTab(3)"><mat-icon class="toolsIcon">notifications</mat-icon>Alerts</button>
                <button class="matbt" mat-menu-item (click)="goGeofenceTab(4)"><mat-icon class="toolsIcon">fence</mat-icon>Geofencing</button>
                <button class="matbt" mat-menu-item ><mat-icon class="toolsIcon">alt_route</mat-icon>Routes</button>
                <button class="matbt" mat-menu-item (click)="openReportModal()"><mat-icon class="toolsIcon">signal_cellular_alt</mat-icon>Reports</button>
                <button class="matbt" mat-menu-item (click)="goPoiTab()"><mat-icon class="toolsIcon" >room</mat-icon>POI</button>

            </mat-menu>
            <a class="col" *ngIf="!deviceXs" mat-button [matMenuTriggerFor]="account">
                <!-- <span class="image-border"> -->
                    <mat-icon  matTooltip="My Account">person_outline</mat-icon>
                <!-- <img class="logout-image" src="assets/client/images/avatar.png" width="35" alt="avatar" /> -->
                <!-- </span> -->
                <!-- <div class="pname">{{this.data2.fullName}}</div> assets/images/avatar.png -->
                <span class="align-middle"></span>
            </a>
            <mat-menu #account="matMenu">
                <a routerLink="authorization/users/user-profile" mat-menu-item>
                    <mat-icon>account_circle</mat-icon>
                    <span>Profile</span>
                </a>

                <a routerLink="authorization/users/change-password" mat-menu-item>
                    <mat-icon>settings</mat-icon>
                    <span>Change Pass

                    </span>
                </a>

                <a mat-menu-item  (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </a>
            </mat-menu>
        </div>

    </div>


</div>
<div id="mapid" style=" width: 100%; height: 90%;">
    <button class="map_button" [ngClass]="{'geofenceActive': geoActive, 'geofenceInactive': geoInactive}"   class="geofenceButton" (click)="geofence(geoStatus)"><mat-icon   matTooltip="Geofences"
        matTooltipPosition="left">fence</mat-icon></button>
   
    <button class="map_button" [ngClass]="{'poiActive': poiActive, 'poiInactive': poiInactive}"   class="poiButton" (click)="getAllPoi(poiStatus)"><mat-icon   matTooltip="POI"
        matTooltipPosition="left">room</mat-icon></button>

        <button class="map_button" [ngClass]="{'tailActive': tailActive, 'tailInactive': tailInactive}"   class="tailButton" (click)="getAllPoi(poiStatus)"><mat-icon   matTooltip="Tails"
            matTooltipPosition="left">trending_up</mat-icon></button>

        <!-- <button type="checkbox" class="t_button" [ngClass]="{'trafficActive': active, 'trafficInactive': inactive}"   class="trafficButton" (click)="traffic(checkValue)"><mat-icon   matTooltip="Traffic"
            matTooltipPosition="left">drag_indicator</mat-icon></button>

            <label class="container" >
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label> -->
</div>

<div class="sidebar" id="sidebar" style=" width: 100%; height: 100%;">
    <app-side-menu>
    </app-side-menu>
  </div>

  <div class="bottommenu" id="menu" style="width: 100%; height: 200px;">
    <app-bottom-details>
    </app-bottom-details>
  </div>

  <div  id="history" style=" height: 150px;">
    <app-history-info>
    </app-history-info>
  </div>
