/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";
@import "./style/form";
@import "./style/table";
//@import "./style/font";
// @import "./style/fontawesome.min.css";
//@import "./style/all.min.css";
@import "~leaflet/dist/leaflet.css";
@import "./style/L.Control.SlideMenu.css";
@import "./style/L.Control.Sidebar.css";
@import "./style/L.Control.Bar.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
// $fa-font-path: "../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';


// @include angular-material-theme($candy-app-theme);
// @include mat-datetimepicker-theme($candy-app-theme);



html, body { height: 100%; }
html {
    overflow:   scroll;
  }
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
