/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";
@import "./style/form";
@import "./style/table";
@import "~leaflet/dist/leaflet.css";
@import "./style/L.Control.SlideMenu.css";
@import "./style/L.Control.Sidebar.css";
html, body { height: 100%; }
html {
    overflow:   scroll;
  }
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
