<div class="table-title">
    <h3>Add Device </h3>
    <span> <a>
            <mat-icon (click)="close()">close</mat-icon>
        </a></span>
</div>


<mat-card class="customStyle">
<mat-card-content>
    <form [formGroup]="myform">
        <div class="main">
    
        

        <mat-form-field class="full">
          <textarea trim="blur" matInput placeholder="IMEI Number" formControlName="imei" autocomplete="off" required ></textarea>
          <mat-hint align="end">  Please  IMEI with comma seperated</mat-hint>
      </mat-form-field>
       

    </div>
      
    </form>
</mat-card-content>

<mat-card-actions class="button">
    <button class="button" mat-stroked-button color="primary" class="btn-block" (click)="importResellerDevice()">
       Submit
    </button>
    <button class="button" mat-stroked-button color="primary" class="btn-block" (click)="close()">
     Close
    </button>
    
</mat-card-actions>
</mat-card>
<div *ngIf="isLoading" class="center"
  style="display:flex; justify-content: center; align-items: center">
    <mat-progress-spinner 
      color="primary" 
      mode="indeterminate">
    </mat-progress-spinner>
  </div>

